# code: language=ansible
# Unified tasks for creating a Trilio for Kubernetes Namespace

- name: Create namespace {{ trilio_kubernetes_namespace_var }}
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  kubernetes.core.k8s:
    name: "{{ trilio_kubernetes_namespace_var }}"
    api_version: v1
    kind: Namespace
    api_key: "{{ trilio_kubernetes_k8s_auth_api_key | default(omit) }}"
    host: "{{ trilio_kubernetes_k8s_auth_host | default(omit) }}"
    validate_certs: "{{ trilio_kubernetes_k8s_validate_certs | default(omit) }}"
    kubeconfig: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
    state: present

# For OpenShift we need to ensure the correct SCC is allowed
- name: Configure SCC for {{ trilio_kubernetes_namespace_var }}
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  ansible.builtin.template:
    src: templates/scc.yaml.j2
    dest: "/tmp/{{ trilio_kubernetes_namespace_var }}-scc.yaml"
    mode: "0600"
  when:
    - trilio_kubernetes_distro == "openshift"

- name: Set SCC Policy for namespace for OpenShift deployments
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  when:
    - trilio_kubernetes_distro == "openshift"
    - trilio_kubernetes_scc_policy_anyuid_to_ns | bool
    - trilio_kubernetes_cli | bool
  kubernetes.core.k8s:
    api_version: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    state: present
    namespace: "{{ trilio_kubernetes_namespace_var }}"
    src: "/tmp/{{ trilio_kubernetes_namespace_var }}-scc.yaml"
    api_key: "{{ trilio_kubernetes_k8s_auth_api_key | default(omit) }}"
    host: "{{ trilio_kubernetes_k8s_auth_host | default(omit) }}"
    validate_certs: "{{ trilio_kubernetes_k8s_validate_certs | default(omit) }}"
    kubeconfig: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
  register: trilio_kubernetes_scc
