apiVersion: triliovault.trilio.io/v1
kind: Target
metadata:
  name: {{ trilio_kubernetes_target_name }}
spec:
  type: ObjectStore
  vendor: {{ trilio_kubernetes_s3_vendor }}
  objectStoreCredentials:
    credentialSecret:
      name: {{ trilio_kubernetes_secret_name }}
      namespace: {{ trilio_kubernetes_namespace_var }}
    bucketName: "{{ trilio_kubernetes_s3_bucket_name }}"
    url: "{{ trilio_kubernetes_s3_url }}"
    region: "{{ trilio_kubernetes_s3_region }}"
  thresholdCapacity: "{{ trilio_kubernetes_s3_threshold_capacity }}"
  enableBrowsing: {{ trilio_kubernetes_enable_browsing }}
