# code: language=ansible

# Set of tasks for creating a Trilio for Kubernetes Target in a namespace
# for storing backups
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Create Namespace
  ansible.builtin.include_tasks: trilio_kubernetes_create_ns.yaml
  when: trilio_kubernetes_create_namespace | bool
  tags: ['namespace', 'smoketest', 'target', 'migrate']
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"

- name: Create Secret for S3
  ansible.builtin.include_tasks: "trilio_kubernetes_create_secret.yaml"
  tags: ['secret', 'smoketest']
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"

- name: Create Target
  ansible.builtin.include_tasks: "trilio_kubernetes_create_target_kubeconfig.yaml"
  tags: ['target', 'smoketest']
  when: 
    - trilio_kubernetes_create_target | bool
    - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"

- name: Create Target (OpenShift Token)
  ansible.builtin.include_tasks: "trilio_kubernetes_create_target_kubeconfig.yaml"
  tags: ['target', 'smoketest']
  when: 
    - trilio_kubernetes_create_target | bool
    - trilio_kubernetes_distro == 'openshift'
    - trilio_kubernetes_auth_type == 'password'
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"