# code: language=ansible

# Set of tasks for creating a Trilio for Kubernetes Backup
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Create Secret
  tags: ['secret']
  ansible.builtin.include_tasks: "trilio_kubernetes_create_secret_kubeconfig.yaml"
  when:
    - trilio_kubernetes_create_secret | bool
    - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"

- name: Create Secret (OpenShift Auth)
  tags: ['secret']
  ansible.builtin.include_tasks: "trilio_kubernetes_create_secret_password.yaml"
  when:
    - trilio_kubernetes_create_secret | bool
    - trilio_kubernetes_distro == 'openshift'
    - trilio_kubernetes_auth_type == 'password'
  vars:
    trilio_kubernetes_namespace_create: "{{ trilio_kubernetes_namespace }}"
