# code: language=ansible
# Unified tasks for creating a Trilio for Kubernetes Target

- name: Configure the target yaml
  ansible.builtin.template:
    src: templates/target.yaml.j2
    dest: /tmp/target.yaml
    mode: "0600"

- name: Create the target in the namespace {{ trilio_kubernetes_namespace_var }}
  kubernetes.core.k8s:
    kind: Target
    state: present
    namespace: "{{ trilio_kubernetes_namespace_var }}"
    src: "/tmp/target.yaml"
    api_key: "{{ k8s_auth_api_key }}"
    host: "{{ k8s_auth_host }}"
    validate_certs: "{{ k8s_validate_certs }}"
  register: trilio_kubernetes_target

- name: Wait for the target to be created in the namespace {{ trilio_kubernetes_namespace_var }}
  kubernetes.core.k8s_info:
    kind: Target
    namespace: "{{ trilio_kubernetes_namespace_var }}"
    name: "{{ trilio_kubernetes_target_name }}"
    api_key: "{{ k8s_auth_api_key }}"
    host: "{{ k8s_auth_host }}"
    validate_certs: "{{ k8s_validate_certs }}"
  register: trilio_kubernetes_target_available
  retries: "{{ trilio_kubernetes_target_polling_retries }}"
  delay: "{{ trilio_kubernetes_target_polling_every_seconds }}"
  until: trilio_kubernetes_target_available.resources is defined and
    trilio_kubernetes_target_available.resources | length > 0 and
    trilio_kubernetes_target_available.resources[0].status.status == 'Available'
