# code: language=ansible
# Unified tasks for deploying an app from a YAML source file

- name: Create Namespace
  ansible.builtin.include_tasks: trilio_kubernetes_create_ns.yaml
  tags: ['namespace', 'smoketest', 'deploy_app']

- name: Create App in {{ trilio_kubernetes_namespace }}
  kubernetes.core.k8s:
    state: present
    namespace: "{{ trilio_kubernetes_namespace }}"
    validate_certs: "{{ k8s_validate_certs }}"
    api_key: "{{ k8s_auth_api_key }}"
    host: "{{ k8s_auth_host }}"
    src: "{{ trilio_kubernetes_demo_app_yaml }}"
    wait: true
  register: trilio_kubernetes_app_deployment

- name: Application Deployment Status (Kubeconfig/External)
  when:
    - trilio_kubernetes_auth_type != "password"
    - trilio_kubernetes_cli | bool
  ansible.builtin.shell: >
    kubectl get po,pvc,svc -n {{ trilio_kubernetes_namespace }}
  environment:
    KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
  register: trilio_kubernetes_deployment_available
  ignore_errors: true
  changed_when: trilio_kubernetes_deployment_available.rc != 0

- name: Application Deployment Status (OpenShift/Password)
  when:
    - trilio_kubernetes_auth_type == "password"
    - trilio_kubernetes_distro == "openshift"
    - trilio_kubernetes_cli | bool
  ansible.builtin.shell: |
    oc login "{{ trilio_kubernetes_auth_api }}" --token="{{ trilio_kubernetes_auth_results.openshift_auth.api_key }}" --insecure-skip-tls-verify=true
    oc get po,pvc,svc -n {{ trilio_kubernetes_namespace }}
  register: trilio_kubernetes_deployment_available
  ignore_errors: true
  changed_when: trilio_kubernetes_deployment_available.rc != 0

- name: Show application deployment status
  ansible.builtin.debug:
    var: trilio_kubernetes_deployment_available.stdout_lines
