# code: language=ansible

# Unified tasks for creating a Trilio for Kubernetes Backup
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Configure the backup for {{ item }}
  ansible.builtin.template:
    src: templates/backup.yaml.j2
    dest: /tmp/{{ trilio_kubernetes_backupplan_name_var }}-backup.yaml
    mode: "0600"
  tags: ['backup', 'smoketest']
  loop: "{{ namespaces_batch }}"

# Create the specified backup plan in specifed namespace
- name: Execute the backup of {{ item }}
  kubernetes.core.k8s:
    api_key: "{{ k8s_auth_api_key | default(omit) }}"
    host: "{{ k8s_auth_host | default(omit) }}"
    validate_certs: "{{ k8s_validate_certs | default(omit) }}"
    api_version: "triliovault.trilio.io/v1"
    kind: Backup
    state: present
    namespace: "{{ item }}"
    src: "/tmp/{{ trilio_kubernetes_backupplan_name_var }}-backup.yaml"
    wait: true
    wait_sleep: "{{ trilio_kubernetes_backup_polling_every_seconds }}"
    wait_timeout: "{{ trilio_kubernetes_backup_polling_retries }}"
  register: trilio_kubernetes_backup
  tags: ['backup', 'smoketest']
  loop: "{{ namespaces_batch }}"

- name: Wait for backups to complete "{{ item }}"
  when:
    - trilio_kubernetes_backup_wait | bool
  vars:
    trilio_kubernetes_backup_timestamp: "{{ ansible_date_time.date }}-{{ ansible_date_time.epoch }}"
  kubernetes.core.k8s_info:
    api_key: "{{ k8s_auth_api_key | default(omit) }}"
    host: "{{ k8s_auth_host | default(omit) }}"
    validate_certs: "{{ k8s_validate_certs | default(omit) }}"
    api_version: "triliovault.trilio.io/v1"
    kind: Backup
    namespace: "{{ item }}"
    name: "{{ trilio_kubernetes_backupplan_name_var }}-{{ trilio_kubernetes_backup_timestamp }}"
  register: backups
  retries: "{{ trilio_kubernetes_backup_polling_retries }}"
  delay: "{{ trilio_kubernetes_restore_polling_every_seconds }}"
  until: backups.resources is defined and
    backups.resources | length > 0 and
    backups.resources[0].status.status == 'Available'
  tags: ['backup', 'smoketest']
  loop: "{{ namespaces_batch }}"
