# code: language=ansible

- name: Set namespace name
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  ansible.builtin.set_fact:
    trilio_kubernetes_namespace_var: "{{ trilio_kubernetes_namespace }}"

- name: Create namespace {{ trilio_kubernetes_namespace_var }}
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  kubernetes.core.k8s:
    name: "{{ trilio_kubernetes_namespace_var }}"
    api_version: v1
    kind: Namespace
    validate_certs: false
    state: present

# For OpenShift we need to ensure the correct SCC is allowed
- name: Configure SCC for {{ trilio_kubernetes_namespace_var }}
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  ansible.builtin.template:
    src: templates/scc.yaml.j2
    dest: "/tmp/{{ trilio_kubernetes_namespace_var }}-scc.yaml"
    mode: "0600"

- name: Set SCC Policy for namespace for OpenShift deployments
  tags: ['namespace', 'ns', 'smoketest', 'deploy_app', 'restore']
  when:
    - trilio_kubernetes_distro == "openshift"
    - trilio_kubernetes_scc_policy_to_ns | bool
    - trilio_kubernetes_cli | bool
  kubernetes.core.k8s:
    api_version: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    state: present
    namespace: "{{ trilio_kubernetes_namespace_var }}"
    src: "/tmp/{{ trilio_kubernetes_namespace_var }}-scc.yaml"
    validate_certs: false
  register: trilio_kubernetes_scc
