- name: Set Auth Facts
  ansible.builtin.include_tasks: "trilio_kubernetes_common_auth.yaml"

- name: Create Backup Plan
  ansible.builtin.include_tasks: "trilio_kubernetes_create_backupplan_tasks.yaml"
  tags: ['backupplan', 'smoketest']
  vars:
    trilio_kubernetes_namespace_var: "{{ item }}"
    trilio_kubernetes_backupplan_name_var: "{{ item }}-{{ trilio_kubernetes_backupplan_type }}"
  loop: "{{ trilio_kubernetes_backup_namespaces }}"
