- name: Set Auth Facts
  ansible.builtin.include_tasks: "trilio_kubernetes_common_auth.yaml"

- name: Create Secret
  tags: ['secret']
  ansible.builtin.include_tasks: "trilio_kubernetes_create_secret_tasks.yaml"
  when:
    - trilio_kubernetes_create_secret | bool
  vars:
    trilio_kubernetes_namespace_var: "{{ item }}"
  loop: "{{ trilio_kubernetes_backup_namespaces }}"
