# code: language=ansible

# Set of tasks for creating a Trilio for Kubernetes Backup
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Create Backup
  ansible.builtin.include_tasks: "trilio_kubernetes_create_backup_kubeconfig.yaml"
  tags: ['backup', 'smoketest']
  when:
    - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'
  vars:
    trilio_kubernetes_namespace_var: "{{ item }}"
  loop: "{{ trilio_kubernetes_backup_namespaces }}"

- name: Create Backup (OpenShift Auth)
  ansible.builtin.include_tasks: "trilio_kubernetes_create_backup_password.yaml"
  tags: ['backup', 'smoketest']
  when:
    - trilio_kubernetes_distro == 'openshift' and trilio_kubernetes_auth_type == 'password'
  vars:
    trilio_kubernetes_namespace_var: "{{ item }}"
    trilio_kubernetes_auth_results: "{{ trilio_kubernetes_openshift_auth_results }}"
  loop: "{{ trilio_kubernetes_backup_namespaces }}"
