# code: language=ansible
# Tasks for Continuous Restore Preparation

- name: Set Kubernetes Command and Auth Args
  tags: ['restore']
  ansible.builtin.set_fact:
    trilio_k8s_cmd: "{{ 'oc' if trilio_kubernetes_distro == 'openshift' else 'kubectl' }}"
    trilio_k8s_auth_args: >-
      {{
        '--token="' + trilio_kubernetes_auth_results.openshift_auth.api_key + '" --server="' + trilio_kubernetes_auth_api + '" --insecure-skip-tls-verify=true'
        if trilio_kubernetes_auth_type == 'password'
        else ''
      }}

- name: Continuous Restore Preparation Tasks
  tags: ['restore']
  when:
    - trilio_kubernetes_create_restore | bool
    - trilio_kubernetes_restore_type == "cr"
  block:
    - name: Identify Continuous Restore Policy
      ansible.builtin.shell: |
        set -o pipefail
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get continuousrestoreplan.triliovault.trilio.io \
          --no-headers -o custom-columns=":metadata.name" | awk '/Available/ {print $1}' \
        | while read CRP
        do
          CRP_MATCH=$({{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} \
            get continuousrestoreplan.triliovault.trilio.io/$CRP -o yaml \
            | grep "{{ trilio_kubernetes_restore_namespace }}/{{ trilio_kubernetes_backupplan_name }}")
          if [[ -n "$CRP_MATCH" ]]
          then
            echo "$CRP"
            break
          fi
        done
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_policy
      ignore_errors: true
      changed_when: false

    - name: Identify Last Consistent Set
      ansible.builtin.shell: >
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get restore -n {{ trilio_kubernetes_restore_namespace }}
        {{ trilio_kubernetes_continuous_restore_policy.stdout }} -o jsonpath='{.status.lastBoundConsistentSet}'
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_cs
      changed_when: false
      failed_when: trilio_kubernetes_continuous_restore_cs.stdout == ""

    - name: Identify Location of Last Consistent Set
      ansible.builtin.shell: >
        set -o pipefail
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get consistentsets/{{ trilio_kubernetes_continuous_restore_cs.stdout }}
        -o yaml | grep location: | head -1 | awk '{print $2}'
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_location
      changed_when: false

    - name: Identify PVC of Last Consistent Set
      ansible.builtin.shell: >
        set -o pipefail
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get consistentsets/{{ trilio_kubernetes_continuous_restore_cs.stdout }}
        -o yaml | awk '/pvcSnapshotInfo:/ { getline;  sub(/:$/, ""); print $1 }'
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_pvc
      changed_when: false
