# code: language=ansible
# Tasks for Continuous Restore Preparation

# code: language=ansible
# Tasks for Continuous Restore Preparation

- name: Set Kubernetes Command and Auth Args
  ansible.builtin.set_fact:
    trilio_k8s_cmd: "{{ 'oc' if trilio_kubernetes_distro == 'openshift' else 'kubectl' }}"
    trilio_k8s_auth_args: >-
      {{
        '--token="' + k8s_auth_api_key + '" --server="' + k8s_auth_host + '" --insecure-skip-tls-verify=true'
        if trilio_kubernetes_auth_type == 'password'
        else ''
      }}

- name: Continuous Restore Preparation Tasks
  when:
    - trilio_kubernetes_create_restore | bool
    - trilio_kubernetes_restore_type == "cr"
  block:
    - name: Identify Continuous Restore Policy
      ansible.builtin.shell: >
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get restore -n {{ trilio_kubernetes_restore_namespace }}
        --no-headers -o custom-columns=":metadata.name" | grep {{ trilio_kubernetes_backupplan_name }}
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_policy
      ignore_errors: true
      changed_when: false

    - name: Identify Last Consistent Set
      ansible.builtin.shell: >
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get restore -n {{ trilio_kubernetes_restore_namespace }}
        {{ trilio_kubernetes_continuous_restore_policy.stdout }} -o jsonpath='{.status.lastBoundConsistentSet}'
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_last_bound_consistent_set
      changed_when: false
      failed_when: trilio_kubernetes_continuous_restore_last_bound_consistent_set.stdout == ""

    - name: Identify Location of Last Consistent Set
      ansible.builtin.shell: >
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get restore -n {{ trilio_kubernetes_restore_namespace }}
        {{ trilio_kubernetes_continuous_restore_policy.stdout }} -o jsonpath='{.spec.location}'
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_location
      changed_when: false

    - name: Identify PVC of Last Consistent Set
      ansible.builtin.shell: >
        {{ trilio_k8s_cmd }} {{ trilio_k8s_auth_args }} get pvc -n {{ trilio_kubernetes_restore_namespace }}
        -l "triliovault.trilio.io/owner-restore={{ trilio_kubernetes_continuous_restore_policy.stdout }}"
        --no-headers -o custom-columns=":metadata.name"
      environment:
        KUBECONFIG: "{{ trilio_kubernetes_kubeconfig | default(omit) }}"
      register: trilio_kubernetes_continuous_restore_pvc
      changed_when: false
