# code: language=ansible

# Set of tasks for creating performing a Trilio for Kubernetes Restore
#
# Authors: Kevin Jackson <kevin.jackson at trilio io>

- name: Set Auth Facts
  ansible.builtin.include_tasks: "trilio_kubernetes_common_auth.yaml"

- name: Execute Continuous Restore Preparation Tasks
  ansible.builtin.include_tasks: "trilio_kubernetes_continuous_restore_kubeconfig.yaml"
  when:
    - trilio_kubernetes_create_restore | bool
    - trilio_kubernetes_restore_type == "cr"
    - trilio_kubernetes_distro == 'kubernetes' or trilio_kubernetes_auth_type == 'external'

- name: Execute Continuous Restore Preparation Tasks (OpenShift)
  ansible.builtin.include_tasks: "trilio_kubernetes_continuous_restore_password.yaml"
  when:
    - trilio_kubernetes_create_restore | bool
    - trilio_kubernetes_restore_type == "cr"
    - trilio_kubernetes_distro == 'openshift'
    - trilio_kubernetes_auth_type == 'password'

- name: Execute Restore Tasks
  ansible.builtin.include_tasks: "trilio_kubernetes_create_restore_tasks.yaml"
  when:
    - trilio_kubernetes_create_restore | bool
